---
schema: drydock/HostProfile/v1
metadata:
  schema: metadata/Document/v1
  name: {{ data['profile_name'] }}_{{ data['rack'] }}
  storagePolicy: cleartext
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
{% if data['profile_name'] == data['hw_profile']['profile_name']['compute']  %}
      hosttype: {{data['hw_profile']['host_type']['compute']}}
{% else %}
      hosttype: {{data['hw_profile']['host_type']['ctrl']}}
{% endif %}
    actions:
      - method: replace
        path: .interfaces
      - method: replace
        path: .storage
      - method: merge
        path: .
data:
{% if data['profile_name'] == data['hw_profile']['profile_name']  %}
  hardware_profile: {{data['hw_profile']['hw_type']['compute']}}
{% else %}
  hardware_profile: {{data['hw_profile']['hw_type']['ctrl']}}
{% endif %}
  oob:
    network: {{ data['rack'] }}_oob
    account: root
  primary_network: {{ data['region'] }}_oam
  interfaces:
    pxe:
      device_link: {{data['rack']}}_pxe
      slaves:
        - pxe_nic01
      networks:
        - {{data['rack']}}_pxe
    bond1:
      device_link: bond1
      slaves:
        - gp_nic01
        - gp_nic02
      networks:
      - {{ data['region'] }}_oam
      - {{ data['region'] }}_overlay
      - {{ data['region'] }}_storage
      - {{ data['region'] }}_ksn
{% if data['profile_name'] == data['hw_profile']['profile_name']['compute']  %}
    {{data['hw_profile']['sriov_itf']['itf1'][0]}}:
      slaves:
        - {{data['hw_profile']['sriov_itf']['itf1'][1]}}
      sriov:
        vf_count: 32  # Currently ignored
        trustedmode: false
    {{data['hw_profile']['sriov_itf']['itf2'][0]}}:
      slaves:
        - {{data['hw_profile']['sriov_itf']['itf2'][1]}}
      sriov:
        vf_count: 32  # Currently ignored
        trustedmode: false
{% endif %}
  storage:
    physical_devices:
      bootdisk:
        labels:
          bootdrive: 'true'
        partitions:
          - name: 'root'
            size: '30g'
            bootable: true
            filesystem:
              mountpoint: '/'
              fstype: 'ext4'
              mount_options: 'defaults'
          - name: 'boot'
            size: '1g'
            filesystem:
              mountpoint: '/boot'
              fstype: 'ext4'
              mount_options: 'defaults'
          - name: 'var_log'
            size: '100g'
            filesystem:
              mountpoint: '/var/log'
              fstype: 'ext4'
              mount_options: 'defaults'
          - name: 'var'
            size: '>300g'
            filesystem:
              mountpoint: '/var'
              fstype: 'ext4'
              mount_options: 'defaults'
{% if data['profile']['type'] == 'controller' %}
      cephjournal:
        partitions:
          - name: 'cephj'
            size: '120g'
            filesystem:
              mountpoint: '/var/lib/ceph/journal'
              fstype: 'xfs'
              mount_options: 'defaults'
{% elif data['profile']['type'] == 'compute' %}
      ephemeral:
        partitions:
          - name: 'nova'
            size: '99%'
            filesystem:
              mountpoint: '/var/lib/nova'
              fstype: 'ext4'
              mount_options: 'defaults'
{% endif %}
  platform:
    image: 'xenial'
    kernel: 'hwe-16.04'
    kernel_params:
      console: 'ttyS1,115200n8'
      intel_iommu: 'on'
      iommu: 'pt'
      amd_iommu: 'on'
      cgroup_disable: 'hugetlb'
      transparent_hugepage: 'never'
      hugepagesz: 'hardwareprofile:hugepages.dpdk.size'
      hugepages: 'hardwareprofile:hugepages.dpdk.count'
      default_hugepagesz: 'hardwareprofile:hugepages.dpdk.size'
      isolcpus: 'hardwareprofile:cpuset.kvm'
...

