{% for rack_key in data['rack'].keys()%}
---
schema: 'drydock/NetworkLink/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: {{rack_key}}_oob
  layeringDefinition:
    abstract: false
    layer: site
  storagePolicy: cleartext
data:
  labels:
    noconfig: enabled
  bonding:
    mode: disabled
  mtu: 1500
  linkspeed: auto
  trunking:
    mode: disabled
    default_network: {{rack_key}}_oob
  allowed_networks:
    - {{rack_key}}_oob
...

---
schema: 'drydock/Network/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: {{rack_key}}_oob
  layeringDefinition:
    abstract: false
    layer: site
  storagePolicy: cleartext
data:
  cidr: {{ data['rack'][rack_key]['oob']['nw'] }}
  routes:
    - subnet: '0.0.0.0/0'
      gateway: {{ data['rack'][rack_key]['oob']['gw'] }}
      metric: 100
  ranges:
    - type: static
      start: {{ data['rack'][rack_key]['oob']['static_start'] }}
      end: {{ data['rack'][rack_key]['oob']['static_end'] }}
...

---
schema: 'drydock/NetworkLink/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: {{rack_key}}_pxe
  layeringDefinition:
    abstract: false
    layer: site
  storagePolicy: cleartext
data:
  bonding:
    mode: disabled
  mtu: 1500
  linkspeed: auto
  trunking:
    mode: disabled
    default_network: {{rack_key}}_pxe
  allowed_networks:
    - {{rack_key}}_pxe
...

---
schema: 'drydock/Network/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: {{rack_key}}_pxe
  layeringDefinition:
    abstract: false
    layer: site
  storagePolicy: cleartext
data:
  cidr: {{ data['rack'][rack_key]['pxe']['nw'] }}
{% if not data['rack'][rack_key]['is_genesis'] %}
  dhcp_relay:
    upstream_target: {{ data['dns']['dhcp_relay'] }}
{% endif %}
  routes:
{% for other_subnet in data['rack'][rack_key]['pxe']['routes'] %}
    - subnet: {{ other_subnet }}
      gateway: {{ data['rack'][rack_key]['pxe']['gw'] }}
      metric: 100
{% endfor %}
  ranges:
    - type: reserved
      start: {{ data['rack'][rack_key]['pxe']['reserved_start'] }}
      end: {{ data['rack'][rack_key]['pxe']['reserved_end'] }}
    - type: static
      start: {{ data['rack'][rack_key]['pxe']['static_start'] }}
      end: {{ data['rack'][rack_key]['pxe']['static_end'] }}
    - type: dhcp
      start: {{ data['rack'][rack_key]['pxe']['dhcp_start'] }}
      end: {{ data['rack'][rack_key]['pxe']['dhcp_end'] }}
...
{%endfor%}
