---
schema: 'drydock/NetworkLink/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: {{ data['region_name'] }}_bond1
  layeringDefinition:
    abstract: false
    layer: site
  storagePolicy: cleartext
data:
  bonding:
    mode: 802.3ad
    hash: layer3+4
    peer_rate: fast
    mon_rate: 100
    up_delay: 1000
    down_delay: 3000
  mtu: 9100
  linkspeed: auto
  trunking:
    mode: 802.1q
  allowed_networks:
{% for rack_name in data['network']['rack'] %}
    - {{ rack_name }}_oob
{% endfor %}
    - {{ data['region_name'] }}_oam
    - {{ data['region_name'] }}_storage
    - {{ data['region_name'] }}_overlay
    - {{ data['region_name'] }}_ksn
...
---
schema: 'drydock/Network/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: {{ data['region_name'] }}_oam
  layeringDefinition:
    abstract: false
    layer: 'site'
  storagePolicy: cleartext
data:
  vlan: {{ data['network']['common']['oam']['vlan'] }}
  mtu: 9100
  cidr: {{ data['network']['common']['oam']['nw'] }}
{% set flag = [0] %}
{% for route in data['network']['common']['oam']['routes'] %}
{% if flag[0] == 0 %}
  routes:
{% endif %}
{% if flag.append(flag.pop() + 1) %} {% endif %}
    - subnet: {{ route }}
      gateway: {{ data['network']['common']['oam']['gw'] }}
      metric: 100
{% endfor %}
{% if flag[0] == 0 %}
  routes:[]
{% endif %}
  ranges:
    - type: reserved
      start: {{ data['network']['common']['oam']['reserved_start'] }}
      end: {{ data['network']['common']['oam']['reserved_end'] }}
    - type: static
      start: {{ data['network']['common']['oam']['static_start'] }}
      end: {{ data['network']['common']['oam']['static_end'] }}
  dns:
    domain: {{ data['network']['dns']['domain']|lower() }}
    servers: {{ data['network']['dns']['servers'] }}
...
---
schema: 'drydock/Network/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: {{ data['region_name'] }}_storage
  layeringDefinition:
    abstract: false
    layer: site
  storagePolicy: cleartext
data:
  vlan: {{ data['network']['common']['storage']['vlan'] }}
  mtu: 9100
  cidr: {{ data['network']['common']['storage']['nw'] }}
{% set flag = [0] %}
{% for route in data['network']['common']['storage']['routes'] %}
{% if flag[0] == 0 %}
  routes:
{% endif %}
{% if flag.append(flag.pop() + 1) %} {% endif %}
    - subnet: {{ route }}
      gateway: {{ data['network']['common']['storage']['gw'] }}
      metric: 100
{% endfor %}
{% if flag[0] == 0 %}
  routes:[]
{% endif %}
  ranges:
    - type: reserved
      start: {{ data['network']['common']['storage']['reserved_start'] }}
      end: {{ data['network']['common']['storage']['reserved_end'] }}
    - type: static
      start: {{ data['network']['common']['storage']['static_start'] }}
      end: {{ data['network']['common']['storage']['static_end'] }}
...
---
schema: 'drydock/Network/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: {{ data['region_name'] }}_overlay
  layeringDefinition:
    abstract: false
    layer: site
  storagePolicy: cleartext
data:
  vlan: {{ data['network']['common']['overlay']['vlan'] }}
  mtu: 9100
  cidr: {{ data['network']['common']['overlay']['nw'] }}
{% set flag = [0] %}
{% for route in data['network']['common']['overlay']['routes'] %}
{% if flag[0] == 0 %}
  routes:
{% endif %}
{% if flag.append(flag.pop() + 1) %} {% endif %}
    - subnet: {{ route }}
      gateway: {{ data['network']['common']['overlay']['gw'] }}
      metric: 100
{% endfor %}
{% if flag[0] == 0 %}
  routes:[]
{% endif %}
  ranges:
    - type: reserved
      start: {{ data['network']['common']['overlay']['reserved_start'] }}
      end: {{ data['network']['common']['overlay']['reserved_end'] }}
    - type: static
      start: {{ data['network']['common']['overlay']['static_start'] }}
      end: {{ data['network']['common']['overlay']['static_end'] }}
...
---
schema: 'drydock/Network/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: {{ data['region_name'] }}_ksn
  layeringDefinition:
    abstract: false
    layer: site
  storagePolicy: cleartext
data:
  vlan: {{ data['network']['common']['ksn']['vlan'] }}
  mtu: 9100
  cidr: {{ data['network']['common']['ksn']['nw'] }}
{% set flag = [0] %}
{% for route in data['network']['common']['ksn']['routes'] %}
{% if flag[0] == 0 %}
  routes:
{% endif %}
{% if flag.append(flag.pop() + 1) %} {% endif %}
    - subnet: {{ route }}
      gateway: {{ data['network']['common']['ksn']['gw'] }}
      metric: 100
{% endfor %}
{% if flag[0] == 0 %}
  routes:[]
{% endif %}
  ranges:
    - type: reserved
      start: {{ data['network']['common']['ksn']['reserved_start'] }}
      end: {{ data['network']['common']['ksn']['reserved_end'] }}
    - type: static
      start: {{ data['network']['common']['ksn']['static_start'] }}
      end: {{ data['network']['common']['ksn']['static_end'] }}
...

