---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: ucp-divingbell
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: ucp-divingbell-global
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
  substitutions:
    - dest:
        path: .values.conf.uamlite.users[0].user_crypt_passwd
      src:
        schema: deckhand/Passphrase/v1
        name: ubuntu_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[0].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: ubuntu_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[1].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: ca846m_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[1].user_crypt_passwd
      src:
        schema: deckhand/Passphrase/v1
        name: ca846m_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[2].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: am240k_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[2].user_crypt_passwd
      src:
        schema: deckhand/Passphrase/v1
        name: am240k_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[3].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: dd118r_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[3].user_crypt_passwd
      src:
        schema: deckhand/Passphrase/v1
        name: dd118r_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[4].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: pb269f_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[4].user_crypt_passwd
      src:
        schema: deckhand/Passphrase/v1
        name: pb269f_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[5].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: mb874d_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[5].user_crypt_passwd
      src:
        schema: deckhand/Passphrase/v1
        name: mb874d_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[6].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: sh8121_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[6].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: sh8121_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[7].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: bp4242_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[7].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: bp4242_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[8].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: go4243_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[8].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: go4243_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[9].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: mp0306_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[9].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: mp0306_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[10].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: sb3065_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[10].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: sb3065_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[11].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: kp6228_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[11].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: kp6228_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[12].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: mg339b_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[12].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: mg339b_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[13].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: dp6938_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[13].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: dp6938_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[14].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: hc697c_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[14].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: hc697c_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[15].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: jh6103_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[15].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: jh6103_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[16].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: jj2898_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[16].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: jj2898_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[17].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: kb1828_ssh_public_key
    - dest:
        path: .values.conf.uamlite.users[17].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: kb1828_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[18].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: ms4575_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[18].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: ms4575_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[19].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: sd1885_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[19].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: sd1885_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[20].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: sg6082_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[20].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: sg6082_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[21].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: ss610g_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[21].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: ss610g_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[22].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: tg7924_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[22].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: tg7924_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[23].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: rd3676_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[23].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: rd3676_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[24].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: es1724_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[24].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: es1724_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[25].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: db9871_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[25].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: db9871_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[26].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: sw1867_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[26].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: sw1867_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[27].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: tj1728_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[27].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: tj1728_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[28].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: sc3998_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[28].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: sc3998_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[29].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: jl401j_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[29].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: jl401j_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[30].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: rp196m_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[30].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: rp196m_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[31].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: mm6021_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[31].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: mm6021_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[32].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: ya8439_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[32].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: ya8439_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[33].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: kr1519_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[33].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: kr1519_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[34].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: dn5242_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[34].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: dn5242_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[35].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: rg4437_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[35].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: rg4437_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[36].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: uk4686_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[36].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: uk4686_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[37].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: bt106c_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[37].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: bt106c_crypt_password
        path: .
    - dest:
        path: .values.conf.uamlite.users[38].user_sshkeys[0]
      src:
        schema: deckhand/PublicKey/v1
        name: nh863p_ssh_public_key
        path: .
    - dest:
        path: .values.conf.uamlite.users[38].user_crypt_passwd
      src:
        schema: deckhand/PublicKey/v1
        name: nh863p_crypt_password
        path: .
data:
  values:
    conf:
      uamlite:
        users:
          - user_name: ubuntu
            user_sudo: true
            user_sshkeys: [Unmanaged]

            # ##############################
            # Development Users            #
            # sudo: true                   #
            # ##############################

            # Craig Anderson (mm9745)
          - user_name: ca846m
            user_sudo: true
            user_sshkeys: []

            # Alan Meadows (rv6848)
          - user_name: am240k
            user_sudo: true
            user_sshkeys: []

            # Darren Dejaeger (al7689)
          - user_name: dd118r
            user_sudo: true
            user_sshkeys: []

            # Pete Berley (mm9745)
          - user_name: pb269f
            user_sudo: true
            user_sshkeys: []

            # Mark Burnett (mm9745)
          - user_name: mb874d
            user_sudo: true
            user_sshkeys: []

            # Scott Hussey (al7689)
          - user_name: sh8121
            user_sudo: true
            user_sshkeys: []

            # ##############################
            # Deployment Engineers         #
            # sudo: true                   #
            # ##############################

            # Bart Pinto (js5858)
          - user_name: bp4242
            user_sudo: true
            user_sshkeys: []

            # Greg Obefield (js5858)
          - user_name: go4243
            user_sudo: true
            user_sshkeys: []

            # ##############################
            # Platform QA                  #
            # sudo: true                   #
            # ##############################

            # Minish Parmar (as753d)
          - user_name: mp0306
            user_sudo: true
            user_sshkeys: []

            # Steve Bourg (dh3511)
          - user_name: sb3065
            user_sudo: true
            user_sshkeys: []

            # Krishna Posa (as753d)
          - user_name: kp6228
            user_sudo: true
            user_sshkeys: []

            # ##############################
            # Operations Team              #
            # sudo: true                   #
            # ##############################

            # Miren Gajjar (tg7924)
          - user_name: mg339b
            user_sudo: true
            user_sshkeys: []

            # Deepak Padhi (tg7924)
          - user_name: dp6938
            user_sudo: true
            user_sshkeys: []

            # Hari Chintapatla (tg7924)
          - user_name: hc697c
            user_sudo: true
            user_sshkeys: []

            # Jake Howe (tg7924)
          - user_name: jh6103
            user_sudo: true
            user_sshkeys: []

            # Justin Jenkins (tg7924)
          - user_name: jj2898
            user_sudo: true
            user_sshkeys: []

            # Kevin Brierly (tg7924)
          - user_name: kb1828
            user_sudo: true
            user_sshkeys: []

            # Mathew Stark (tg7924)
          - user_name: ms4575
            user_sudo: true
            user_sshkeys: []

            # Scott Denton (tg7924)
          - user_name: sd1885
            user_sudo: true
            user_sshkeys: []

            # Sai Garimella (tg7924)
          - user_name: sg6082
            user_sudo: true
            user_sshkeys: []

            # Saravanan Sanmugave (tg7924)
          - user_name: ss610g
            user_sudo: true
            user_sshkeys: []

            # Tom Goode (tj576k)
          - user_name: tg7924
            user_sudo: true
            user_sshkeys: []

            # Raj Dhanabalan (jj2898)
          - user_name: rd3676
            user_sudo: true
            user_sshkeys: []

            # Ed Smith (jj2898)
          - user_name: es1724
            user_sudo: true
            user_sshkeys: []

            # Dan Bice (jj2898)
          - user_name: db9871
            user_sudo: true
            user_sshkeys: []

            # Steve Wilcox (jj2898)
          - user_name: sw1867
            user_sudo: true
            user_sshkeys: []

            # Toby Johnston (jj2898)
          - user_name: tj1728
            user_sudo: true
            user_sshkeys: []

            # Steve Craigue (jj2898)
          - user_name: sc3998
            user_sudo: true
            user_sshkeys: []

            # ##############################
            # Nagios Development Team      #
            # sudo: true                   #
            # ##############################

            # John Lawrence (am1249)
          - user_name: jl401j
            user_sudo: true
            user_sshkeys: []

            # Rakesh Patnaik (am1249)
          - user_name: rp196m
            user_sudo: true
            user_sshkeys: []

            # ##############################
            # Tenant Standard USers        #
            # sudo: false                  #
            # ##############################

            # Munesh Mehan (kf0216) Blackbird
          - user_name: mm6021
            user_sudo: false
            user_sshkeys: []

            # Josh Arasavelli (aj5875) Blackbird
          - user_name: ya8439
            user_sudo: false
            user_sshkeys: []

            # Kiran Ramabathla (as753d) Blackbird
          - user_name: kr1519
            user_sudo: false
            user_sshkeys: []

            # Deepa Nanjundaswamy (jj629m) - ST
          - user_name: dn5242
            user_sudo: false
            user_sshkeys: []

            # Rajeshwari Girijashankar (jj629m) - ST
          - user_name: rg4437
            user_sudo: false
            user_sshkeys: []

            # Uttam Dravidam (js5858) - DE
          - user_name: uk4686
            user_sudo: false
            user_sshkeys: []

            # ##############################
            # Security Triage              #
            # sudo: true                   #
            # ##############################

            # Brian Tray (jf6802)
          - user_name: bt106c
            user_sudo: true
            user_sshkeys: []

            # ##############################
            # Solution Engineers           #
            # sudo: true                   #
            # ##############################

            # Hemanth Nakkina (nh863p)
          - user_name: nh863p
            user_sudo: true
            user_sshkeys: []
...

