---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: ucp-promenade
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: ucp-promenade-global
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  values:
    pod:
      env:
        promenade_api:
          - name: http_proxy
            value: {{ data['network']['proxy']['http'] }}
          - name: https_proxy
            value: {{ data['network']['proxy']['https'] }}
          - name: no_proxy
            value: {{ data['network']['proxy']['no_proxy'] }}
          - name: HTTP_PROXY
            value: {{ data['network']['proxy']['http'] }}
          - name: HTTPS_PROXY
            value: {{ data['network']['proxy']['https'] }}
          - name: NO_PROXY
            value: {{ data['network']['proxy']['no_proxy'] }}
          - name: UWSGI_TIMEOUT
            value: 600
...

