---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: ucp-ceph-osd
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: ucp-ceph-osd-global
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  values:
    conf:
      storage:
        osd:
{% for osd in data['ceph']['osd'] %}
          - data:
              type: block-logical
              location: /dev/{{ osd }}
            journal:
              type: directory
              location: /var/lib/ceph/journal/journal-{{ osd }}
{% endfor %}
...
