---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  replacement: true
  name: kubernetes-calico
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: kubernetes-calico-global
    actions:
      - method: merge
        path: .

  substitutions:
    - src:
        schema: pegleg/CommonAddresses/v1
        name: common-addresses
        path: .ksn.bgp.ipv4.public_service_cidr
      dest:
        path: .values.networking.bgp.ipv4.additional_cidrs[0]

{% for peer in data['network']['bgp']['peers'] %}
    - src:
        schema: pegleg/CommonAddresses/v1
        name: common-addresses
        path: .ksn.bgp.ipv4.peers[{{ loop.index0 }}]
      dest:
        path: .values.networking.bgp.ipv4.peers[{{ loop.index0 }}].metadata.peerIP
{% endfor %}

  storagePolicy: cleartext
data:
  values:
    networking:
      settings:
        mesh: "off"
        ippool:
          ipip:
            enabled: "false"
            mode: "cross-subnet"
      bgp:
        asnumber: {{ data['network']['bgp']['asnumber'] }}
        ipv4:
          peers:
{% for peer in data['network']['bgp']['peers'] %}
            - apiVersion: v1
              kind: bgpPeer
              metadata:
                scope: global
              spec:
                asnumber: {{ data['network']['bgp']['peer_asnumber'] }}
{% endfor %}
...

