---
schema: pegleg/CommonSoftwareConfig/v1
metadata:
  schema: metadata/Document/v1
  name: common-software-config
  layeringDefinition:
    abstract: false
    layer: site
  storagePolicy: cleartext
data:
  osh:
    region_name: {{ data.region_name }}
  location:
    location_corridor: {{ data['location']['corridor'] }}
    location_name: {{ data['location']['name'] }}
    location_state: {{ data['location']['state'] }}
    location_country: {{ data['location']['country'] }}
    location_physical_location_id: {{ data['location']['physical_location_id'] }}
...
