---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: neutron
  labels:
    component: neutron
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: neutron-global
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
  replacement: true
data:
  values:
    labels:
      sriov:
        node_selector_key: sriov
        node_selector_value: enabled
    network:
      backend:
        - openvswitch
        - sriov
      auto_bridge_add:
        br-bond1: bond1
      interface:
        sriov:
          - device: enp94s0f0
            num_vfs: 32
            promisc: false
          - device: enp135s0f1
            num_vfs: 32
            promisc: false
    conf:
      plugins:
        openvswitch_agent:
          ovs:
            bridge_mappings: oam:br-bond1
        sriov_agent:
          sriov_nic:
            physical_device_mappings: sriovnet1:enp94s0f0,sriovnet2:enp135s0f1
            exclude_devices: null
          securitygroup:
            firewall_driver: neutron.agent.firewall.NoopFirewallDriver
{% if data['conf']['neutron']['network_vlan_ranges'] %}
        ml2_conf:
	  ml2:
            mechanism_drivers: l2population,openvswitch,sriovnicswitch
          ml2_type_vlan:
            network_vlan_ranges: {{ data['conf']['neutron']['network_vlan_ranges'] }}
{% endif %}
...

