---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: nova
  labels:
    component: nova
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: nova-global
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  values:
    network:
      backend:
        - openvswitch
        - sriov
    conf:
      policy:
        os_compute_api:servers:create:forced_host: rule:admin_create or rule:tenant_create
        os_compute_api:os-extended-server-attributes: rule:tenant_read
      nova:
        libvirt:
          virt_type: kvm
        DEFAULT:
          vcpu_pin_set: "{{ data['conf']['nova']['vcpu_pin_set'] }}"
        pci:
          alias: '{"name": "numa0", "capability_type": "pci", "product_id": "154c", "vendor_id": "8086", "device_type": "type-PCI", "numa_policy": "required"}'
          passthrough_whitelist: |
          {{ data['conf']['nova']['passthrough_whitelist'] }}
...

