---
schema: pegleg/CommonAddresses/v1
metadata:
  schema: metadata/Document/v1
  name: common-addresses
  layeringDefinition:
    abstract: false
    layer: site
  storagePolicy: cleartext
data:
  calico:
    ip_autodetection_method: interface=bond1.{{ data['network']['common']['calico']['vlan']}}
    etcd:
      service_ip: 10.96.232.136
    ip_rule:
      gateway: {{ data['network']['common']['calico']['gw']}}
      overlap_cidr: 10.96.0.0/15 
    bgp:
      ipv4:
        public_service_cidr: {{ data['network']['bgp']['public_service_cidr'] }}
        ingress_vip: {{ data['network']['bgp']['ingress_vip'] }}
        peers:
{% for peer in data['network']['bgp']['peers'] %}
          - {{ peer }}
{% endfor %}
  dns:
    cluster_domain: cluster.local
    service_ip: 10.96.0.10
    upstream_servers:
{% for server in data['network']['dns']['servers'].split(',') %}
      - {{ server }}
{% endfor %}
    upstream_servers_joined: {{ data['network']['dns']['servers']}}
    ingress_domain: {{ data['network']['dns']['domain'] }}

  genesis:
    hostname: {{ (data|get_role_wise_nodes)['genesis']['name'] }}
{% for rack in data['baremetal'] %}
{% for host  in data['baremetal'][rack] %}
{% if data['baremetal'][rack][host]['type'] == 'genesis' %}
    ip: {{ data['baremetal'][rack][host]['ip']['calico'] }}
{% endif %}
{% endfor %}
{% endfor %}
  bootstrap:
    ip: {{ (data|get_role_wise_nodes)['genesis']['pxe'] }}

  kubernetes:
    api_service_ip: 10.96.0.1
    etcd_service_ip: 10.96.0.2
    pod_cidr: 172.26.0.0/15
    service_cidr: 10.96.0.0/16

  masters:
{% for host in (data|get_role_wise_nodes)['masters'] %}
    - hostname: {{ host }}
{% endfor %}

  ldap:
    base_url: {{ data['network']['ldap']['base_url'] }}
    url: {{ data['network']['ldap']['url'] }}
    auth_path: DC=testitservices,DC=atttest,DC=com?sAMAccountName?sub?memberof=CN={{ data['network']['ldap']['common_name'] }},OU=Application,OU=Groups,DC=testitservices,DC=atttest,DC=com
    common_name: {{ data['network']['ldap']['common_name'] }}
    subdomain: {{ data['network']['ldap']['subdomain'] }}
    domain: {{ data['network']['ldap']['domain'] }}


  storage:
    ceph:
      public_cidr: {{ data['network']['common']['storage']['nw'] }}
      cluster_cidr: {{ data['network']['common']['storage']['nw'] }}

  neutron:
    tunnel_device: 'bond1.{{ data['network']['common']['overlay']['vlan'] }}'
    external_iface: 'bond1'

  openvswitch:
    external_iface: 'bond1'
...

