---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: ucp-maas
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: ucp-maas-global
    actions:
      - method: replace
        path: .values.conf.maas.proxy
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  values:
    conf:
      maas:
        ntp:
          disable_ntpd_region: true
          disable_ntpd_rack: true
        images:
          default_os: 'ubuntu'
          default_image: 'xenial'
          default_kernel: 'hwe-16.04'
        proxy:
{% if data['network']['proxy'] %}
          proxy_enabled: 'true'
          peer_proxy_enabled: true
          proxy_server: {{ data['network']['proxy']['http'] }}
{% else %}
         proxy_enabled: 'false'
         peer_proxy_enabled: false
         proxy_server: dummy.proxy.com
{% endif %}
...
