{% for rack in data['baremetal'].keys() %}
{% for host in data['baremetal'][rack].keys()%}
{% if data['baremetal'][rack][host]['type'] != 'genesis' %}
---
schema: 'drydock/BaremetalNode/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: {{ host }}
  layeringDefinition:
    abstract: false
    layer: site
  storagePolicy: cleartext
{% set rack = data['baremetal'][rack][host]['rack'] %}
data:
  host_profile: {{data['baremetal'][rack][host]['host_profile']}}_{{ rack }}
  addressing:
    - network: {{ rack }}_oob
      address: {{ data['baremetal'][rack][host]['ip']['oob'] }}
    - network: {{ data['region_name'] }}_oam
      address: {{ data['baremetal'][rack][host]['ip']['oam'] }}
    - network: {{ rack }}_pxe
      address: {{ data['baremetal'][rack][host]['ip']['pxe'] }}
    - network: {{ data['region_name'] }}_storage
      address: {{ data['baremetal'][rack][host]['ip']['storage'] }}
    - network: {{ data['region_name'] }}_ksn
      address: {{ data['baremetal'][rack][host]['ip']['ksn'] }}
    - network: {{ data['region_name'] }}_overlay
      address: {{ data['baremetal'][rack][host]['ip']['overlay'] }}
  metadata:
    rack: {{ data['region_name']|upper }}R{{rack[-2:] }}
    tags:
{% if data['baremetal'][rack][host]['type'] == 'compute' %}
        - 'workers'
{% else %}
        - 'masters'
{% endif %}
...
{%endif%}
{%endfor%}
{%endfor%}
