{% for host in data.keys()%}
{% if data[host]['type'] != 'genesis' %}
---
schema: 'drydock/BaremetalNode/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: {{ host }}
  layeringDefinition:
    abstract: false
    layer: site
  storagePolicy: cleartext
{% set rack = data[host]['rack'] %}
data:
  host_profile: {{data[host]['host_profile']}}
  addressing:
    - network: {{ rack }}_oob
      address: {{ data[host]['ip']['oob'] }}
    - network: {{ rack }}_oam
      address: {{ data[host]['ip']['oam'] }}
    - network: {{ rack }}_pxe
      address: {{ data[host]['ip']['pxe'] }}
    - network: {{ rack }}_storage
      address: {{ data[host]['ip']['storage'] }}
    - network: {{ rack }}_ksn
      address: {{ data[host]['ip']['calico'] }}
    - network: {{ rack }}_overlay
      address: {{ data[host]['ip']['overlay'] }}
  metadata:
    rack: {{ data[host]['rack']|upper }}
    tags:
{% if data[host]['type'] == 'compute' %}
        - 'workers'
{% else %}
        - 'masters'
{% endif %}
...
{%endif%}
{%endfor%}
