{% for host in data.keys()%}
{% if data[host]['type'] != 'genesis' %}
---
schema: 'drydock/BaremetalNode/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: {{ host }}
  layeringDefinition:
    abstract: false
    layer: site
  storagePolicy: cleartext
{% set rack = data[host]['rack'] %}
data:
  host_profile: {{data[host]['host_profile']}}_{{ rack }}
  addressing:
    - network: {{ rack }}_oob
      address: {{ data[host]['ip']['oob'] }}
    - network: {{ data[host]['region'] }}_oam
      address: {{ data[host]['ip']['oam'] }}
    - network: {{ rack }}_pxe
      address: {{ data[host]['ip']['pxe'] }}
    - network: {{ data[host]['region']  }}_storage
      address: {{ data[host]['ip']['storage'] }}
    - network: {{ data[host]['region'] }}_ksn
      address: {{ data[host]['ip']['ksn'] }}
    - network: {{ data[host]['region']  }}_overlay
      address: {{ data[host]['ip']['overlay'] }}
  metadata:
    rack: {{ data[host]['region']|upper }}R{{rack[-2:] }}
    tags:
{% if data[host]['type'] == 'compute' %}
        - 'workers'
{% else %}
        - 'masters'
{% endif %}
...
{%endif%}
{%endfor%}
...
