---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: ro
  replacement: true
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: ro
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
  substitutions:

    #Location Information
    - src:
        schema: pegleg/CommonSoftwareConfig/v1
        name: common-software-config
        path: .osh.region_name
      dest:
        path: .values.conf.location.location_region
    - src:
        schema: pegleg/CommonSoftwareConfig/v1
        name: common-software-config
        path: .location.location_corridor
      dest:
        path: .values.conf.location.location_corridor
    - src:
        schema: pegleg/CommonSoftwareConfig/v1
        name: common-software-config
        path: .osh.region_name
      dest:
        path: .values.conf.location.location_dns_code
    - src:
        schema: pegleg/CommonSoftwareConfig/v1
        name: common-software-config
        path: .location.location_physical_location_id
      dest:
        path: .values.conf.location.location_location_code
    - src:
        schema: pegleg/CommonSoftwareConfig/v1
        name: common-software-config
        path: .location.location_physical_location_id
      dest:
        path: .values.conf.location.location_physical_location_id
    - src:
        schema: pegleg/CommonSoftwareConfig/v1
        name: common-software-config
        path: .location.location_name
      dest:
        path: .values.conf.location.location_name
    - src:
        schema: pegleg/CommonSoftwareConfig/v1
        name: common-software-config
        path: .location.location_state
      dest:
        path: .values.conf.location.location_state
    - src:
        schema: pegleg/CommonSoftwareConfig/v1
        name: common-software-config
        path: .location.location_country
      dest:
        path: .values.conf.location.location_country
    # RO Endpoints
    - src:
        schema: pegleg/EndpointCatalogue/v1
        name: ro_endpoints
        path: .ro.ro
      dest:
        path: .values.endpoints.ro
    - src:
        schema: pegleg/EndpointCatalogue/v1
        name: ro_endpoints
        path: .ro.ro
      dest:
        path: .values.endpoints.rorchestration
    - src:
        schema: pegleg/EndpointCatalogue/v1
        name: ro_endpoints
        path: .netcool
      dest:
        path: .values.endpoints.netcool
    - src:
        schema: pegleg/EndpointCatalogue/v1
        name: ro_endpoints
        path: .aai
      dest:
        path: .values.endpoints.aai
    - src:
        schema: pegleg/EndpointCatalogue/v1
        name: ro_endpoints
        path: .epr
      dest:
        path: .values.endpoints.epr

    # RO Service Accounts
    - src:
        schema: pegleg/AccountCatalogue/v1
        name: ro_service_accounts
        path: .ro.keystone_oslo_messaging.ro
      dest:
        path: .values.endpoints.keystone_oslo_messaging.auth.ro
    - src:
        schema: pegleg/AccountCatalogue/v1
        name: ro_service_accounts
        path: .ro.heat_oslo_messaging.ro
      dest:
        path: .values.endpoints.heat_oslo_messaging.auth.ro
    - src:
        schema: pegleg/AccountCatalogue/v1
        name: ro_service_accounts
        path: .ro.cinder_oslo_messaging.ro
      dest:
        path: .values.endpoints.cinder_oslo_messaging.auth.ro
    - src:
        schema: pegleg/AccountCatalogue/v1
        name: ro_service_accounts
        path: .ro.nova_oslo_messaging.ro
      dest:
        path: .values.endpoints.nova_oslo_messaging.auth.ro
    - src:
        schema: pegleg/AccountCatalogue/v1
        name: ro_service_accounts
        path: .ro.neutron_oslo_messaging.ro
      dest:
        path: .values.endpoints.neutron_oslo_messaging.auth.ro
    - src:
        schema: pegleg/AccountCatalogue/v1
        name: ro_service_accounts
        path: .ro.glance_oslo_messaging.ro
      dest:
        path: .values.endpoints.glance_oslo_messaging.auth.ro
    - src:
        schema: pegleg/AccountCatalogue/v1
        name: ro_service_accounts
        path: .ro.keystone.ro
      dest:
        path: .values.endpoints.identity.auth.ro
    - src:
        schema: pegleg/AccountCatalogue/v1
        name: ro_service_accounts
        path: .ro.oslo_db
      dest:
        path: .values.endpoints.oslo_db.auth.ro_admin
    - src:
        schema: pegleg/AccountCatalogue/v1
        name: ro_service_accounts
        path: .ro.oslo_db.database
      dest:
        path: .values.endpoints.oslo_db.path
        pattern: DB_NAME

     # RO Secrets
    - dest:
        path: .values.endpoints.cinder_oslo_messaging.auth.ro.password
      src:
        schema: deckhand/Passphrase/v1
        name: ro_oslo_messaging_password
        path: .
    - dest:
        path: .values.endpoints.nova_oslo_messaging.auth.ro.password
      src:
        schema: deckhand/Passphrase/v1
        name: ro_oslo_messaging_password
        path: .
    - dest:
        path: .values.endpoints.neutron_oslo_messaging.auth.ro.password
      src:
        schema: deckhand/Passphrase/v1
        name: ro_oslo_messaging_password
        path: .
    - dest:
        path: .values.endpoints.glance_oslo_messaging.auth.ro.password
      src:
        schema: deckhand/Passphrase/v1
        name: ro_oslo_messaging_password
        path: .
    - dest:
        path: .values.endpoints.heat_oslo_messaging.auth.ro.password
      src:
        schema: deckhand/Passphrase/v1
        name: ro_oslo_messaging_password
        path: .
    - dest:
        path: .values.endpoints.keystone_oslo_messaging.auth.ro.password
      src:
        schema: deckhand/Passphrase/v1
        name: ro_oslo_messaging_password
        path: .
    - dest:
        path: .values.endpoints.oslo_db.auth.ro_admin.password
      src:
        schema: deckhand/Passphrase/v1
        name: ro_oslo_db_password
        path: .
    - dest:
        path: .values.endpoints.identity.auth.ro.password
      src:
        schema: deckhand/Passphrase/v1
        name: ro_keystone_password
        path: .
    # - dest:
    #     path: .values.endpoints.aai.ro_aai_client_secret
    #   src:
    #     schema: deckhand/CertificateAuthority/v1
    #     name: ro_aai_client_secret
    #     path: .
data: {}
...
